<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LearnEnglish.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B516A2061EC46A7D004F63BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B516A21F1EC46A7D004F63BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B516A22A1EC46A7D004F63BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
