<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>eng</key>
		<string>Ed Sheeran - Don&apos;t 🎤</string>
	</dict>
	<dict>
		<key>eng</key>
		<string>Be brave 📄</string>
	</dict>
	<dict>
		<key>eng</key>
		<string>Dwayne Johnson - Gummy worm 🎥</string>
	</dict>
	<dict>
		<key>eng</key>
		<string>Teahupoʻo 📄</string>
	</dict>
	<dict>
		<key>eng</key>
		<string>Ellen about muslims 🎥</string>
	</dict>
	<dict>
		<key>eng</key>
		<string>Freegans 📄</string>
	</dict>
	<dict>
		<key>eng</key>
		<string>Tyra Banks 🎥</string>
	</dict>
	<dict>
		<key>eng</key>
		<string>Mindsets 🎥</string>
	</dict>
	<dict>
		<key>eng</key>
		<string>Lebanon 🎥</string>
	</dict>
	<dict>
		<key>eng</key>
		<string>Or nah 🎤</string>
	</dict>
	<dict>
		<key>eng</key>
		<string>Sex and the city 🎥</string>
	</dict>
	<dict>
		<key>eng</key>
		<string>Route 66 📄</string>
	</dict>
	<dict>
		<key>eng</key>
		<string>Parenting 🎥</string>
	</dict>
	<dict>
		<key>eng</key>
		<string>Happiest people in the world 📄</string>
	</dict>
	<dict>
		<key>eng</key>
		<string>Kai, Hatchet Wielding Hitchhiker 🎥</string>
	</dict>
	<dict>
		<key>eng</key>
		<string>Fyre Festival in the Bahamas 📄</string>
	</dict>
	<dict>
		<key>eng</key>
		<string>Hitchhike to hell  🎥</string>
	</dict>
	<dict>
		<key>eng</key>
		<string>Marilyn Monroe 📄</string>
	</dict>
	<dict>
		<key>eng</key>
		<string>Meryl Streep Speech The Golden Globes 2017 🎥</string>
	</dict>
	<dict>
		<key>eng</key>
		<string>Down the Rabbit-Hole 📄</string>
	</dict>
	<dict>
		<key>eng</key>
		<string>Meryl Streep&amp; Emma 🎥</string>
	</dict>
</array>
</plist>
